html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  box-sizing: border-box;
}

figcaption,
figure,
main {
  display: block;
  box-sizing: border-box;
}

figure {
  margin: 1em 40px;
  box-sizing: border-box;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  box-sizing: border-box;
}

button,
input {
  overflow: visible;
  box-sizing: border-box;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-icon {
  background-image: url(//s3.music.126.net/m/s/img/usericn_2x.png?6423c0681bfb3358d5c684c9b998e412);
  position: absolute;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 75px auto;
  right: -5px;
  bottom: 0;
}

.page-container {
  padding-bottom: 60px;
  background: #eee;
}

.img-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(20px) brightness(50%);
  transform: scale(1.5);
  z-index: 1;
}

.desc-text {
  color: #949494;
}

.header-nav {
  color: #fff;
  z-index: 2;
  display: flex;
  margin: -20px -10px 20px -10px;
}
.header-nav-left {
    z-index: 2;
    font-size: 3rem;
    width: 2.5rem;
}
.header-nav-right {
    z-index: 2;
}
.header-nav-desc {
    color: #949494;
    font-size: .1rem
}
.clearfix:after {
    content: "";
    clear: both;
}

a {
  color: #333;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

html {
    /*font-size: 12px;*/
}

.slide-up-enter-active {
  transition: all .3s ease;
}

.slide-up-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-enter,
.slide-up-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateY(100px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all .3 ease;
}

.slide-left-leave-active {
  transition: all .3s ease;
}

.slide-left-enter
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateX(100vw);
  opacity: 0;
}

.slide-left-leave-to {
  transform: translateX(-100vw);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all .3s ease;
}

.slide-right-leave-active {
  transition: all .3s ease;
}

.slide-right-enter
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateX(-100vw);
  opacity: 0;
}

.slide-right-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateX(100vw);
  opacity: 0;
}

.slide-up-enter-active {
  transition: all .3s ease;
}

.slide-up-leave-active {
  transition: all .3s ease;
}

.slide-up-enter
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateY(100vh);
  opacity: 0;
}

.slide-up-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateY(-100vh);
  opacity: 0;
}

.slide-down-enter-active {
  transition: all .3s ease;
}

.slide-down-leave-active {
  transition: all .3s ease;
}

.slide-down-enter
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateY(-100vh);
  opacity: 0;
}

.slide-down-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: translateY(100vh);
  opacity: 0;
}

.fade-in-enter-active {
  transition: all .3s ease;
}

.fade-in-leave-active {
  transition: all .3s ease;
}

.fade-in-enter
/* .slide-fade-leave-active for <2.1.8 */

{
  opacity: 0;
}

.fade-in-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
  opacity: 0;
}

.fade-scale-in-enter-active {
  transition: all .3s ease;
}

.fade-scale-in-leave-active {
  transition: all .3s ease;
}

.fade-scale-in-enter
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: scale(0);
  opacity: 0;
}

.fade-scale-in-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
  transform: scale(0);
  opacity: 0;
}


/* 水波纹 */

.ripple-effect {
  position: relative;
  overflow: hidden;
  /*有边界的水波纹*/
}

.ripple-effect:active {
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.33s ease-out;
}

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  animation: ripple 0.66s ease-out;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.hover-class:active {
    color: rgba(0, 0, 0, 0.25);
}